.NewBt{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: 2px solid white;
    transition: 0.8s;
}

.NewBt:hover{
    background-color: rgb(246, 162, 73);
}

.NewBt-contain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InputMovie{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.InputMovie ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px ;
    margin: 0px;
    width: 95%;
    justify-content: space-between;
}

.InputMovie-item input , button , textarea{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transition: 0.8s;
}

input , textarea {
    padding: 5px;
}

.InputMovie input:hover,button:hover,textarea:hover{
    border-color: rgb(246, 162, 73) ;
}

.InputMovie button{
    width: 70%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: 0.8s;
}

.InputMovie button:hover{
    background-color: rgb(246, 162, 73);
}

#description{
    height: 70px;
}

::selection{
    background-color: rgb(246, 162, 73);
}
