@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  font-family: 'Roboto';
}

::-webkit-scrollbar {
  display: none;
}

.Apps{
  background-image: url("./backgroudimg.jpg");
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}